.allRecomendation {
  display: flex;
  flex-direction: row;
  height: 150px;
  margin: 5px;
  overflow: hidden;
  overflow-x: scroll;
  padding: 10px;
  width: 220px;
  justify-items: center;
  margin: auto;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  /* color: antiquewhite; */
  align-items: center;
  margin: auto;
  /* justify-: center; */

  text-align: center;
  border: 1px solid black;
  padding: 2vw;
  top: 20px;
  background-color: burlywood;
  transform-style: none;
  border-radius: 15px;
  width: 38vw;
  transition: all 0.3s ease-out;
  box-shadow: 0 0 4px 2px grey;
}

.inlineDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.recomendation {
  padding-right: 10px;

}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: rgba(250, 235, 215, 0.6);
}

::-webkit-scrollbar-thumb {
  background-color: gold;
  border: 3px solid rgb(19, 19, 19);
  border-radius: 20px;
}

.start {
  display: flex;
  margin: auto;
  bottom: 0;
  position: sticky;
}

img {
  border-radius: 10%;
}