.tags {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.allButons {
  margin: calc(2vh + 2vw) auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.allButons button {
  width: 22vw;
}

@media (min-width: 600px) {
  .allButons button {
    width: 15vw;
  }
}

