.foodCard {
  text-align: center;
  border: 1px solid black;
  padding: 2vw;
  top: 20px;
  margin: 2vw;
  background-color: black;
  color: antiquewhite;
  transform-style: none;
  border-radius: 15px;
  width: 38vw;
  max-height: 42vw;
  transition: all 0.3s ease-out;
  box-shadow: 0 0 4px 2px grey;
}

.foodCard p {
  padding-top: 1vw;
  font-size: small;
  margin-bottom: 1vw;
}

.allCard {
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 85%;
  margin-top: 55px;
  margin-bottom: 80px;
}

.allButton button {
  width: calc(100vw/3);
  max-height: 50px;
  font-size: small;
}

.allButton {
  width: 100vw;
}

.foodCard img {
  width: calc(100vw/4);
  border: 1px solid black;
  border-radius: 12%;
  margin-bottom: 2vw;
}

button {
  border: 1px solid grey;
  border-radius: 5px;
  font-size: large;
  padding: 3px;
}

button:hover {
  transform: translateY(-3px);
  cursor: pointer;
  box-shadow: 0 2px 3px 2px gold;
}

.foodCard:hover {
  transform: translateY(-5px);
  cursor: pointer;
  box-shadow: 0 0 4px 2px gold;
}

@media (min-width: 400px ){
  .foodCard {
  width: 32vw;
  }
  .foodCard img {
    width: calc(100vw/5);
  }
}


@media (min-width: 600px ){
  .foodCard {
  width: 26vw;
  max-height: 40vw;
  }
  .foodCard p {
    font-size: medium;
  }
  .allCard img {
    width: calc(100vw/6);
  }
  .allButton button {
    font-size: medium;
  }
}

@media (min-width: 800px ){
  .foodCard {
  width: 21vw;
  max-height: 38vw;
  }
  .foodCard p {
    font-size: medium;
  }
  .allCard img {
    width: calc(100vw/7);
  }
}

@media (min-width: 1000px ){
  .allButton button {
    width:calc(100vw/6);
    font-size: large;
  }

  .foodCard p {
    font-size: large;
    padding: 0;

  }

  .allCard {
    margin-top: 8vw;
    margin-bottom: 8vw;
    width: 80%;
  }

  .allCard img {
    width: calc(100vw/9);
    margin-bottom: 1vw;
  }

  .foodCard {
    margin: 2vw;
    width: 15vw;
  }
}
